.home_search {
  width: 80%;
  height: 112px;
  border-radius: 5px;
  left: 10%;
  top: 526px;
  padding: 32px 64px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  background: rgba(255, 200, 59, 0.8);
}
.home_search div {
  width: 180px;
  height: 48px;
  border-radius: 5px;
  cursor: pointer;
}
.home_search div > div {
  display: flex;
  justify-content: space-between;
}
.home_search div > label {
  font-weight: 500;
  display: block;
  margin: 12px 20px 12px 20px;
  cursor: pointer;
}
.home_search div > div > img {
  width: 18px;
  height: 12px;
  margin: 18px 20px 18px 42px;
}
.home_search ul {
  width: 100%;
  border-radius: 5px;
  border-width: 2px;
  border-color: #5a5550;
  background: white;
  overflow-y: auto;
}
.home_search > div:first-child > ul {
  height: 240px;
}
.home_search ul :hover {
  background: #f1f5f9;
}
.home_search li {
  padding: 12px 0 12px 20px;
  color: #5a5550;
}

/* off */
.off {
  background: white;
  color: #5a5550;
}
.off ul {
  display: none;
}
/* on */
.on {
  background: #5a5550;
  color: white;
}

.home_search > input {
  width: 208px;
  height: 48px;
  border-radius: 5px;
  padding: 20px;
}

.home_search > button {
  width: 88px;
  height: 48px;
  border-radius: 5px;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  color: white;
  background: #5a5550;
}

.home_search > button > img {
  width: 20px;
}
